.titulo{
    color:red;
    text-align: center;
}
.CENTRAR{
text-align: center;
    color:red;
}

.modelbotton{
   background: white;
    color:red;
    text-decoration: none;
display:inline-block;
border:2px solid red;
    padding:15px 20px;
    margin:10px;
}
.modelbotton:hover{
    background: dodgerblue;
    color:white;
}

.marco{
    width: 100%;
    height: 200px;
    border:1px solid blue;
}